
<link rel="stylesheet" href="/dependencies/calender/toastui-calendar.css">
<script src="/dependencies/calender/toastui-calendar.js"></script>
<script src="/dependencies/calender/tui-code-snippet.js"></script>
<script src="/js/appointment.js"></script>
<!-- <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script> -->

<div id="calendar" style="height: 800px"></div>
<!-- 
<script>

document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');
  var calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: 'timeGridWeek',
    nowIndicator:true,
    events: [
      {
        title: 'Event 1',
        start: '2024-04-12'
      },
      {
        title: 'Event 2',
        start: '2024-04-15',
        end: '2024-04-17'
      }
    ]
  });
  calendar.render();
});

  </script> -->