<div class="detail-pane" style="background: none;padding:0px">
    <div class="application-div">
        <div class="appliction-leftpane" style="width: 35%;">
            <div class="app-row" >
                <ul class="application-filter">
                    <li class="active"><i class="fa-regular fa-hourglass-half"></i> Pending</li>
                    <li><i class="fa-solid fa-badge-check"></i> Completed</li>
                </ul>
            </div>
            <div class="app-row" style="padding: 5px;">
                <div class="app-card">
                    <input type="checkbox">
                    <div style="width: 130px;"><span class="name">THINESH R</span></div>
                    <div class="app-icons"><i class="fa-solid fa-bullseye"></i><i class="fa-solid fa-eye"></i></div>
                    <div style="width: 150px;"><span class="inprogress">In Progress</span></div>
                    <div style="display: flex;"><span class="grade activea">A</span><span class="grade ">B</span><span class="grade ">C</span></div>
                </div>
                <div class="app-card">
                    <input type="checkbox">
                    <div style="width: 130px;"><span class="name">RAM KUMAR</span></div>
                    <div class="app-icons"><i class="fa-solid fa-bullseye"></i><i class="fa-solid fa-eye"></i></div>
                    <div style="width: 150px;"><span class="new">New</span></div>
                    <div style="display: flex;"><span class="grade">A</span><span class="grade activeb">B</span><span class="grade">C</span></div>
                </div>
                <div class="app-card">
                    <input type="checkbox">
                    <div style="width: 130px;"><span class="name">GURU PRASAD</span></div>
                    <div class="app-icons"><i class="fa-solid fa-bullseye"></i><i class="fa-solid fa-eye"></i></div>
                    <div style="width: 150px;"><span class="inprogress">In Progress</span></div>
                    <div style="display: flex;"><span class="grade activea">A</span><span class="grade">B</span><span class="grade ">C</span></div>
                </div>
                <div class="app-card">
                    <input type="checkbox">
                    <div style="width: 130px;"><span class="name">LAKSHMI</span></div>
                    <div class="app-icons"><i class="fa-solid fa-bullseye"></i><i class="fa-solid fa-eye"></i></div>
                    <div style="width: 150px;"><span class="inprogress">In Progress</span></div>
                    <div style="display: flex;"><span class="grade">A</span><span class="grade">B</span><span class="grade activec">C</span></div>
                </div>
            </div>
        </div>
        <div class="appliction-rightpane" style="width: 65%;padding-left: 10px;">
            <div class="app-row" >
                <ul class="application-filter">
                    <li class="active"><i class="fa-solid fa-user-large"></i> Detail</li>
                    <li><i class="fa-solid fa-thumbs-up"></i> Evaluation</li>
                    <li><i class="fa-solid fa-brain"></i> Interview</li>
                </ul>
            </div>
            <div id="appDetail">
            <div class="app-row app-profile" >
               <img src="/images/profile.svg" style="width: 60px;">
               <div class="app-row" style="border-bottom: 0;padding-bottom: 0;margin-bottom: 0;padding-left: 10px;    justify-content: center;">
                    <span style="    font-size: 14px;font-weight: 500;padding-top: 10px;padding-bottom: 5px;">THINESH R</span>
                    <div style="    display: flex;flex-direction: row;">
                        <div  style="display: flex;width: 100%;   ">
                            <i class="fa-regular fa-location-dot" style="    padding-top: 3px;padding-right: 5px;"></i>
                            <SPAN>AP 719, H Block, 1st Street, Annanagar,<br> Chennai - 600040</SPAN>
                        </div>
                        <div class="app-row"  style="border-bottom: 0;">
                            <div>
                                <i class="fa-solid fa-envelope"></i>
                                <SPAN>thinesh.rajendhiran@inspirisys.com</SPAN>
                            </div>
                            <div>
                                <i class="fa-duotone fa-mobile"></i>
                                <SPAN>+91 9442662402</SPAN>
                            </div>
                        </div>
                        <div  style="display: flex;width: 100%;   ">
                            <!-- <i class="fa-regular fa-location-dot"></i>
                            <SPAN>Annanagar, Chennai 600040</SPAN> -->
                        </div>
                        
                    </div>
               </div>
            </div>
            <div  >
                <div class="app-profile">
                    <span class="s-heading"><i class="fa-solid fa-message-lines"></i> Applicant Comment (1)</span>
                    <span>Hi, As a highly skilled Manager with 7+ years of experiance.</span>
                </div>
                <div class="app-row white-card-container">
                    <DIV class="white-card">
                        <div style="margin-bottom: 5px;">
                            <span class="s-heading"><i class="fa-solid fa-note"></i> Short Resume</span>
                            <i class="s-heading-i fa-solid fa-pen-to-square"></i>
                        </div>
                        <div>
                            <span>Occupation</span>
                            <span class="card-value">Designer</span>
                        </div>
                        <div>
                            <span>Career State</span>
                            <span class="card-value">Designer</span>
                        </div>
                        <div>
                            <span>Management Position</span>
                            <span class="card-value">Art Director</span>
                        </div>
                        <div>
                            <span>Work Experiance Year</span>
                            <span class="card-value">10 Years</span>
                        </div>
                        <div>
                            <span>Education Fields</span>
                            <span class="card-value">10 Years</span>
                        </div>
                        <div>
                            <span>Education Level</span>
                            <span class="card-value">10 Years</span>
                        </div>
                        <div>
                            <span>Skills</span>
                            <span class="card-value">10 Years</span>
                        </div>
                    </DIV>
                    <div class="white-card">
                        <div style="margin-bottom: 5px;">
                            <span class="s-heading"><i class="fa-regular fa-user"></i> Personal Data</span>
                            <i class="s-heading-i fa-solid fa-pen-to-square"></i>
                        </div>
                        <div>
                            <span>Mother Tongue</span>
                            <span class="card-value">Tamil</span>
                        </div>
                        <div>
                            <span>Nationalities</span>
                            <span class="card-value">Indian</span>
                        </div>
                        <div>
                            <span>Home Town</span>
                            <span class="card-value">Chennai</span>
                        </div>
                        <div>
                            <span>Expected Salary</span>
                            <span class="card-value">100 000</span>
                        </div>
                        <div>
                            <span>Notice Period</span>
                            <span class="card-value">3 Months</span>
                        </div>
                        <div>
                            <span>Possible start Date</span>
                            <span class="card-value">10-05-2024</span>
                        </div>
                        
                    </div>
                    <div class="white-card">
                        <div style="margin-bottom: 5px;">
                            <span class="s-heading"><i class="fa-regular fa-language"></i> Language (2)</span>
                            <i class="s-heading-i fa-solid fa-plus"></i>
                        </div>
                   </div>
                   
                </div>

                <div class="app-row white-card-container">
                    <DIV class="white-card">
                        <div style="margin-bottom: 5px;">
                            <span class="s-heading"><i class="fa-solid fa-paperclip"></i> Documents (7)</span>
                            <i class="s-heading-i fa-solid fa-plus"></i>
                        </div>
                        <div>
                            <span><i class="fa-solid fa-xmark"></i> Resume Document</span>
                            <span class="card-value">View</span>
                        </div>
                        <div>
                            <span><i class="fa-solid fa-xmark"></i> Qualification Document</span>
                            <span class="card-value">View</span>
                        </div>
                        <div>
                            <span><i class="fa-solid fa-xmark"></i> Diploma Document</span>
                            <span class="card-value">View</span>
                        </div>
                        <div>
                            <span><i class="fa-solid fa-xmark"></i> Aadhar Document</span>
                            <span class="card-value">View</span>
                        </div>
                        <div>
                            <span><i class="fa-solid fa-xmark"></i> Last Comapany Payslip</span>
                            <span class="card-value">View</span>
                        </div>
                        <div>
                            <span><i class="fa-solid fa-xmark"></i> Last Comapany Offer Letter</span>
                            <span class="card-value">View</span>
                        </div>
                       
                    </DIV>
                    <div class="white-card">
                        <div style="margin-bottom: 5px;">
                            <span class="s-heading"><i class="fa-solid fa-diploma"></i> Educations</span>
                            <i class="s-heading-i fa-solid fa-pen-to-square"></i>
                        </div>
                        
                        
                    </div>
                    <div class="white-card">
                        <div style="margin-bottom: 5px;">
                            <span class="s-heading"><i class="fa-solid fa-layer-group"></i> Experiance (2)</span>
                            <i class="s-heading-i fa-solid fa-plus"></i>
                        </div>
                   </div>
                   
                </div>
            </div>
        </div>
        </div>
    </div>

</div>