<div class="detail-pane">

    <div class="detail-row" >
        <span class="s-heading" style="margin-bottom: 5px;"><i class="fa-solid fa-user-plus"></i> Position</span>
        <span class="s-title">Job Title</span>
        <input class="form-input" value="Java & Springboot Senior Developer" placeholder="Job Title"/>
        <span class="s-title">Job Description</span>
        <textarea class="form-input" value="Java & Springboot Senior Developer" style="min-width: 100%;" cols="40" rows="5" placeholder="Job Description"></textarea>
    </div>

    <div class="detail-row" >
        <span class="s-heading" style="margin-bottom: 5px;"><i class="fa-solid fa-user-group-simple"></i> Users</span>
       <div class="detail-col">
            <div class="detail-row" >
                <span class="s-title">Position owner</span>
                <input class="form-input" value="Lakshmi Perumal" placeholder="Job Title"/>
            </div>
            <div class="detail-row" >
                <span class="s-title">Human Resource</span>
                <input class="form-input" value="Ranjith" placeholder="Job Title"/>
            </div>
            <div class="detail-row" >
                <span class="s-title">Department Manager</span>
                <input class="form-input" value="Seenivasan" placeholder="Job Title"/>
            </div>
       </div>
    </div>

    <div class="detail-row" >
        <span class="s-heading" style="margin-bottom: 5px;"><i class="fa-solid fa-user-check"></i> Employment</span>
       <div class="detail-col">
            <div class="detail-row" >
                <span class="s-title">Employee Type</span>
                <div>
                    <input type="radio" id="permanent" name="employee" value="permanent">
                    <label for="permanent">Permanent</label><br>
                    <input type="radio" id="temporary" name="employee" value="temporary">
                    <label for="temporary">Temporary</label><br>
                    <input type="radio" id="internship" name="employee" value="apprenticeship">
                    <label for="internship">Apprenticeship</label><br>
                    <input type="radio" id="internship" name="employee" value="internship">
                    <label for="internship">internship</label><br>
                    <input type="radio" id="tryout" name="employee" value="tryout">
                    <label for="tryout">tryout</label><br>
                    <input type="radio" id="holiday" name="employee" value="holiday">
                    <label for="holiday">holiday</label><br>
                    <input type="radio" id="freelance" name="employee" value="freelance">
                    <label for="freelance">freelance</label><br>
                    <input type="radio" id="supplementary" name="employee" value="supplementary">
                    <label for="supplementary">supplementary</label>
                </div>
                <span class="s-title" style="margin-top: 5px;">Employment Date type</span>
                <input class="form-input" value="Immediately" placeholder="Employment Date type"/>
            </div>
            <div class="detail-row" >
                <span class="s-title">Minimal Workload</span>
                <input class="form-input" value="0-100" placeholder="0-100"/>
                <span class="s-title">Maximal Workload</span>
                <input class="form-input" value="0-100" placeholder="0-100"/>
                <span class="s-title">Remote work</span>
                <div>
                    <input type="radio" id="no" name="remotework" value="no">
                    <label for="no">No</label><br>
                    <input type="radio" id="partial" name="remotework" value="partial">
                    <label for="partial">Partial</label><br>
                    <input type="radio" id="fullremotework" name="remotework" value="fullremotework">
                    <label for="fullremotework">Full remote work</label><br>
                    <input type="radio" id="fromeverywhere" name="remotework" value="fromeverywhere">
                    <label for="fromeverywhere">From everywhere</label><br>
                   
                </div>
            </div>
            <div class="detail-row" >
                <span class="s-title">Salary currency</span>
                <input class="form-input" value="IND" placeholder="IND"/>
                <span class="s-title">Min. Salary</span>
                <input class="form-input" value="" placeholder="Min. Salary"/>
                <span class="s-title">Max. Salary</span>
                <input class="form-input" value="" placeholder="Max. Salary"/>
                <span class="s-title">Salary type</span>
                <input class="form-input" value="Per year" placeholder="IND"/>
            </div>
       </div>
    </div>


</div>