<link href="/styles/position.css" rel="stylesheet" type="text/css">
<script src="/js/position.js"></script>
<div class="flexcoldiv" style="padding-left: 15px;width: calc(100% - 15px);">
    <span class="s-heading">Position</span>
    <span class="m-text">Java & Springboot Senior Developer</span>
</div>

<div class="flexcoldiv">
    <div class="p-menu">
        <ul>
            <li onclick="loadPositionPage('/Position/detail')" class="active"><i class="fa-solid fa-circle-info"></i> Detail</li>
            <li onclick="loadPositionPage('/Position/applications')"><i class="fa-solid fa-browser"></i> Applications</li>
            <li><i class="fa-solid fa-clock-rotate-left"></i> History</li>
            <li><i class="fa-solid fa-chart-line"></i> Report</li>
        </ul>
    </div>
</div>

<div class="flexcoldiv" id="position-body">
    
</div>