<link href="styles/position.css" rel="stylesheet" type="text/css">
<!-- <script src="js/position.js"></script> -->
<div class="flexcoldiv" style="padding-left: 15px;width: calc(100% - 15px);">
    <span class="b-heading"><i class="fa-solid fa-briefcase" style="margin-right: 5px;"></i> Positions</span>
</div>

<div class="flexcoldiv">
    <div class="p-menu">
        <ul>
            <li onclick="loadPositionPage('/Position/detail')" class="active"><i class="fa-regular fa-earth-asia"></i> All</li>
            <li onclick="loadPositionPage('/Position/applications')"><i class="fa-solid fa-wave-pulse"></i> Active</li>
            <li><i class="fa-solid fa-ufo"></i> Draft</li>
            <li><i class="fa-solid fa-check-double"></i> Completed</li>
        </ul>
    </div>
</div>

<div class="flexcoldiv" id="position-card-body">
    <div class="position-card" onclick="GoJobPage()">
        <div class="position-card-body">
            <div class="date-header">
                <span >10th July 2024</span>
                <span class="inprogress">InProgress</span>
            </div>
            <div class="header">
                <div class="company-job-title">
                    <span class="company-title-name">Inspirisys</span>
                    <span class="job-title-name">Senior Software Engineer</span>
                </div>
                <div class="company-logo">
                    <img src="/images/inspirisys_favcon.png">
                </div>
            </div>
        </div>
        <div class="position-card-footer">
            <span><i class="fa-solid fa-user-check" style="padding-right: 5px;"></i>5/10</span>
            <button>Details</button>
        </div>
        
    </div>
    <div class="position-card" >
        <div class="position-card-body">
            <div class="date-header">
                <span >10th July 2024</span>
                <span class="inprogress">InProgress</span>
            </div>
            <div class="header">
                <div class="company-job-title">
                    <span class="company-title-name">Apple</span>
                    <span class="job-title-name">Senior UX Designer</span>
                </div>
                <div class="company-logo">
                    <img src="/images/inspirisys_favcon.png">
                </div>
            </div>
        </div>
        <div class="position-card-footer">
            <span><i class="fa-solid fa-user-check" style="padding-right: 5px;"></i>5/10</span>
            <button>Details</button>
        </div>
        
    </div>
    <div class="position-card" >
        <div class="position-card-body">
            <div class="date-header">
                <span >10th July 2024</span>
                <span class="inprogress">InProgress</span>
            </div>
            <div class="header">
                <div class="company-job-title">
                    <span class="company-title-name">Inspirisys</span>
                    <span class="job-title-name">Senior Software Engineer</span>
                </div>
                <div class="company-logo">
                    <img src="/images/inspirisys_favcon.png">
                </div>
            </div>
        </div>
        <div class="position-card-footer">
            <span><i class="fa-solid fa-user-check" style="padding-right: 5px;"></i>5/10</span>
            <button>Details</button>
        </div>
        
    </div>
    <div class="position-card" >
        <div class="position-card-body">
            <div class="date-header">
                <span >10th July 2024</span>
                <span class="inprogress">InProgress</span>
            </div>
            <div class="header">
                <div class="company-job-title">
                    <span class="company-title-name">Inspirisys</span>
                    <span class="job-title-name">Senior Software Engineer</span>
                </div>
                <div class="company-logo">
                    <img src="/images/inspirisys_favcon.png">
                </div>
            </div>
        </div>
        <div class="position-card-footer">
            <span><i class="fa-solid fa-user-check" style="padding-right: 5px;"></i>5/10</span>
            <button>Details</button>
        </div>
        
    </div>
    <div class="position-card" >
        <div class="position-card-body">
            <div class="date-header">
                <span >10th July 2024</span>
                <span class="inprogress">InProgress</span>
            </div>
            <div class="header">
                <div class="company-job-title">
                    <span class="company-title-name">Inspirisys</span>
                    <span class="job-title-name">Senior Software Engineer</span>
                </div>
                <div class="company-logo">
                    <img src="/images/inspirisys_favcon.png">
                </div>
            </div>
        </div>
        <div class="position-card-footer">
            <span><i class="fa-solid fa-user-check" style="padding-right: 5px;"></i>5/10</span>
            <button>Details</button>
        </div>
        
    </div>
    <div class="position-card" >
        <div class="position-card-body">
            <div class="date-header">
                <span >10th July 2024</span>
                <span class="inprogress">InProgress</span>
            </div>
            <div class="header">
                <div class="company-job-title">
                    <span class="company-title-name">Inspirisys</span>
                    <span class="job-title-name">Senior Software Engineer</span>
                </div>
                <div class="company-logo">
                    <img src="/images/inspirisys_favcon.png">
                </div>
            </div>
        </div>
        <div class="position-card-footer">
            <span><i class="fa-solid fa-user-check" style="padding-right: 5px;"></i>5/10</span>
            <button>Details</button>
        </div>
        
    </div>
    <div class="position-card" >
        <div class="position-card-body">
            <div class="date-header">
                <span >10th July 2024</span>
                <span class="inprogress">InProgress</span>
            </div>
            <div class="header">
                <div class="company-job-title">
                    <span class="company-title-name">Inspirisys</span>
                    <span class="job-title-name">Senior Software Engineer</span>
                </div>
                <div class="company-logo">
                    <img src="/images/inspirisys_favcon.png">
                </div>
            </div>
        </div>
        <div class="position-card-footer">
            <span><i class="fa-solid fa-user-check" style="padding-right: 5px;"></i>5/10</span>
            <button>Details</button>
        </div>
        
    </div>
    <div class="position-card" >
        <div class="position-card-body">
            <div class="date-header">
                <span >10th July 2024</span>
                <span class="inprogress">InProgress</span>
            </div>
            <div class="header">
                <div class="company-job-title">
                    <span class="company-title-name">Inspirisys</span>
                    <span class="job-title-name">Senior Software Engineer</span>
                </div>
                <div class="company-logo">
                    <img src="/images/inspirisys_favcon.png">
                </div>
            </div>
        </div>
        <div class="position-card-footer">
            <span><i class="fa-solid fa-user-check" style="padding-right: 5px;"></i>5/10</span>
            <button>Details</button>
        </div>
        
    </div>
    <div class="position-card" >
        <div class="position-card-body">
            <div class="date-header">
                <span >10th July 2024</span>
                <span class="inprogress">InProgress</span>
            </div>
            <div class="header">
                <div class="company-job-title">
                    <span class="company-title-name">Inspirisys</span>
                    <span class="job-title-name">Senior Software Engineer</span>
                </div>
                <div class="company-logo">
                    <img src="/images/inspirisys_favcon.png">
                </div>
            </div>
        </div>
        <div class="position-card-footer">
            <span><i class="fa-solid fa-user-check" style="padding-right: 5px;"></i>5/10</span>
            <button>Details</button>
        </div>
        
    </div>
    <div class="position-card" >
        <div class="position-card-body">
            <div class="date-header">
                <span >10th July 2024</span>
                <span class="inprogress">InProgress</span>
            </div>
            <div class="header">
                <div class="company-job-title">
                    <span class="company-title-name">Inspirisys</span>
                    <span class="job-title-name">Senior Software Engineer</span>
                </div>
                <div class="company-logo">
                    <img src="/images/inspirisys_favcon.png">
                </div>
            </div>
        </div>
        <div class="position-card-footer">
            <span><i class="fa-solid fa-user-check" style="padding-right: 5px;"></i>5/10</span>
            <button>Details</button>
        </div>
        
    </div>
    <div class="position-card" >
        <div class="position-card-body">
            <div class="date-header">
                <span >10th July 2024</span>
                <span class="inprogress">InProgress</span>
            </div>
            <div class="header">
                <div class="company-job-title">
                    <span class="company-title-name">Inspirisys</span>
                    <span class="job-title-name">Senior Software Engineer</span>
                </div>
                <div class="company-logo">
                    <img src="/images/inspirisys_favcon.png">
                </div>
            </div>
        </div>
        <div class="position-card-footer">
            <span><i class="fa-solid fa-user-check" style="padding-right: 5px;"></i>5/10</span>
            <button>Details</button>
        </div>
        
    </div>
    <div class="position-card" >
        <div class="position-card-body">
            <div class="date-header">
                <span >10th July 2024</span>
                <span class="inprogress">InProgress</span>
            </div>
            <div class="header">
                <div class="company-job-title">
                    <span class="company-title-name">Inspirisys</span>
                    <span class="job-title-name">Senior Software Engineer</span>
                </div>
                <div class="company-logo">
                    <img src="/images/inspirisys_favcon.png">
                </div>
            </div>
        </div>
        <div class="position-card-footer">
            <span><i class="fa-solid fa-user-check" style="padding-right: 5px;"></i>5/10</span>
            <button>Details</button>
        </div>
        
    </div>
    <div class="position-card" >
        <div class="position-card-body">
            <div class="date-header">
                <span >10th July 2024</span>
                <span class="inprogress">InProgress</span>
            </div>
            <div class="header">
                <div class="company-job-title">
                    <span class="company-title-name">Inspirisys</span>
                    <span class="job-title-name">Senior Software Engineer</span>
                </div>
                <div class="company-logo">
                    <img src="/images/inspirisys_favcon.png">
                </div>
            </div>
        </div>
        <div class="position-card-footer">
            <span><i class="fa-solid fa-user-check" style="padding-right: 5px;"></i>5/10</span>
            <button>Details</button>
        </div>
        
    </div>
</div>

<script>
    function GoJobPage(){
        window.location.href = "/possition/index"
    }
</script>